<!DOCTYPE html>
<html>
  <head>
    <title>Paste</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <linkt rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro">
    <script src="/public/javascripts/script.min.js"></script>
  </head>
  <body>
    <%-body %>
    <ul class="btn">
      <li><a href="/VVNVA8BcvJ/1.html">About</a></li>
      <li><a href="/">New</a></li>
    </ul>
  </body>
</html>