/* line 1, ../scss/style.scss */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 9, ../scss/style.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 13, ../scss/style.scss */
a {
  color: #00B7FF;
}

/* line 17, ../scss/style.scss */
.CodeMirror-linenumbers, .CodeMirror-linenumber {
  color: #e3e3e3;
}

/* line 21, ../scss/style.scss */
form {
  height: 100%;
}

/* line 25, ../scss/style.scss */
textarea, .paste, .CodeMirror pre {
  outline: none;
  border: none;
  font: 14px "Source Code Pro", sans-serif;
}

/* line 31, ../scss/style.scss */
.btn {
  position: fixed;
  border: none;
  padding: 10px 15px;
  background: #e0e0e0;
  bottom: 0;
}

/* line 39, ../scss/style.scss */
ul.btn {
  z-index: 100;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 46, ../scss/style.scss */
ul.btn li, ul.btn a {
  float: left;
  font-size: 11px;
  color: #000;
  text-decoration: none;
}
/* line 52, ../scss/style.scss */
ul.btn li a, ul.btn a a {
  padding: 10px 15px;
}

/* line 58, ../scss/style.scss */
input {
  right: 0;
  margin: 0;
  cursor: pointer;
}

/* line 64, ../scss/style.scss */
input:hover, .btn a:hover {
  background: #ccc;
}

/* line 68, ../scss/style.scss */
.select {
  right: 67px;
  padding: 6px 15px 5px;
}

/* line 73, ../scss/style.scss */
.paste {
  white-space: pre;
}

/* line 77, ../scss/style.scss */
textarea, .paste, .CodeMirror {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px;
}

/* line 84, ../scss/style.scss */
.CodeMirror pre {
  margin-left: 10px;
}

/* line 88, ../scss/style.scss */
.CodeMirror-gutters {
  background-color: transparent;
  margin-left: 5px;
  padding-bottom: 0;
  border-color: #e3e3e3;
}

/* line 96, ../scss/style.scss */
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background: transparent;
  box-shadow: none;
}

/* line 101, ../scss/style.scss */
.cm-s-solarized .cm-tab:before {
  content: none;
}
